<app-navbar></app-navbar>

<div class="search-pokemon-container">
    <div class="title-search">
        <h2>Get info on a Pokémon..</h2>
    </div>
    <div class="search-input">
        <input type="text" placeholder="Search for a Pokémon..">
        <button type="button" >Search</button>
    </div>
</div>

<div class="search-pokemon-result" *ngIf="cards">

   <div class="card" *ngFor="let card of cards">
        <div class="top-half">
            <div class="name-id">
                <p class="name">{{ card.name }}</p>
                <p class="id">#{{card.id}}</p>
            </div>
            <div class="pictures" *ngIf="default == true">
                <img src="{{card.front_pic_normal}}" alt="front pic for {{card.name}}">
                <img src="{{card.back_pic_normal}}" alt="back pic for {{card.name}}">
            </div>
            <div class="pictures" *ngIf="default == false">
                <img src="{{card.shiny_pic_front}}" alt="front pic for {{card.name}}">
                <img src="{{card.shiny_pic_back}}" alt="back pic for {{card.name}}">
            </div>
        </div>
        <div class="bottom-half">
            <div class="shiny">
                <p>TYPES</p>
                <button type="button" (click)="toggleShiny()">SHINY</button>
            </div>
            <div class="types">
                <div class="types-element">
                    <p *ngFor="let type of card.types">- {{ type }}</p>
                </div>
            </div>
            <div class="specs">
                <p> atk: {{ card.attack }}</p>
                <p> height: {{ card.height }}</p>
                <p> weight :{{ card.weight }}</p>
            </div>
        </div>
   </div>

</div>